<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>ApplicationIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Safari.WebApp.A5E1062E-ADCE-4C8F-AFC1-4897CD18EA18</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>George Marakanda</string>
	<key>CFBundlePackageType</key>
	<string>AAPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-webkit-app-launch</string>
			</array>
			<key>LSHandlerRank</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSTemplateApplication</key>
	<true/>
	<key>LSTemplateApplicationParameters</key>
	<dict>
		<key>CFBundleIdentifier</key>
		<string>com.apple.Safari.WebApp</string>
		<key>TemplateAppUUID</key>
		<string>A5E1062E-ADCE-4C8F-AFC1-4897CD18EA18</string>
		<key>defaultarguments</key>
		<true/>
		<key>teamIdentifier</key>
		<string>0000000000</string>
	</dict>
	<key>Manifest</key>
	<dict>
		<key>icons</key>
		<array>
			<dict>
				<key>density</key>
				<real>0.75</real>
				<key>sizes</key>
				<string>36x36</string>
				<key>src</key>
				<string>/android-chrome-36x36.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>density</key>
				<integer>1</integer>
				<key>sizes</key>
				<string>48x48</string>
				<key>src</key>
				<string>/android-chrome-48x48.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>density</key>
				<real>1.5</real>
				<key>sizes</key>
				<string>72x72</string>
				<key>src</key>
				<string>/android-chrome-72x72.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>density</key>
				<integer>2</integer>
				<key>sizes</key>
				<string>96x96</string>
				<key>src</key>
				<string>/android-chrome-96x96.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>density</key>
				<integer>3</integer>
				<key>sizes</key>
				<string>144x144</string>
				<key>src</key>
				<string>/android-chrome-144x144.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>density</key>
				<integer>4</integer>
				<key>sizes</key>
				<string>192x192</string>
				<key>src</key>
				<string>/android-chrome-192x192.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
		</array>
		<key>name</key>
		<string>george</string>
		<key>short_name</key>
		<string>George Marakanda</string>
		<key>start_url</key>
		<string>https://george.sparkasse.at/index.html?at=c</string>
	</dict>
	<key>WKManifestIconKind</key>
	<string>Custom</string>
	<key>WKManifestURL</key>
	<string>https://george.sparkasse.at/img/ico/manifest.json</string>
	<key>WKPushBundleMetadata</key>
	<dict>
		<key>manifestId</key>
		<string>https://george.sparkasse.at/index.html?at=c</string>
	</dict>
</dict>
</plist>
