<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>ApplicationIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.Safari.WebApp.B5F21E7D-D174-4A97-81D5-B7D35E8A40B5</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Disney+</string>
	<key>CFBundlePackageType</key>
	<string>AAPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-webkit-app-launch</string>
			</array>
			<key>LSHandlerRank</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSTemplateApplication</key>
	<true/>
	<key>LSTemplateApplicationParameters</key>
	<dict>
		<key>CFBundleIdentifier</key>
		<string>com.apple.Safari.WebApp</string>
		<key>TemplateAppUUID</key>
		<string>B5F21E7D-D174-4A97-81D5-B7D35E8A40B5</string>
		<key>defaultarguments</key>
		<true/>
		<key>teamIdentifier</key>
		<string>0000000000</string>
	</dict>
	<key>Manifest</key>
	<dict>
		<key>background_color</key>
		<string>#ffffff</string>
		<key>display</key>
		<string>minimal-ui</string>
		<key>icons</key>
		<array>
			<dict>
				<key>sizes</key>
				<string>192x192</string>
				<key>src</key>
				<string>https://static-assets.bamgrid.com/product/disneyplus/favicons/msftpwa-192x192-aurora.97f08a1eb58995c81687d0cf3f953796.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>sizes</key>
				<string>256x256</string>
				<key>src</key>
				<string>https://static-assets.bamgrid.com/product/disneyplus/favicons/msftpwa-256x256-aurora.d7cb966c59969da508b52f70d3013707.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
			<dict>
				<key>sizes</key>
				<string>512x512</string>
				<key>src</key>
				<string>https://static-assets.bamgrid.com/product/disneyplus/favicons/msftpwa-512x512-aurora.b544236c6734eb78083b1f4f31d6f873.png</string>
				<key>type</key>
				<string>image/png</string>
			</dict>
		</array>
		<key>launch_handler</key>
		<dict>
			<key>navigate_existing_client</key>
			<string>always</string>
			<key>route_to</key>
			<string>existing-client</string>
		</dict>
		<key>name</key>
		<string>Disney+</string>
		<key>protocol_handlers</key>
		<array>
			<dict>
				<key>protocol</key>
				<string>web+disneyplus</string>
				<key>url</key>
				<string>/deeplink?protocol=%s</string>
			</dict>
		</array>
		<key>short_name</key>
		<string>Disney+</string>
		<key>start_url</key>
		<string>https://www.disneyplus.com/de-de/home</string>
		<key>theme_color</key>
		<string>#000000</string>
	</dict>
	<key>WKManifestIconKind</key>
	<string>Manifest</string>
	<key>WKManifestURL</key>
	<string>https://www.disneyplus.com/manifest.json</string>
	<key>WKPushBundleMetadata</key>
	<dict>
		<key>manifestId</key>
		<string>https://www.disneyplus.com/</string>
	</dict>
</dict>
</plist>
